html {
  box-sizing: border-box;
  height: 100%;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  scroll-snap-type: y proximity;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  scroll-snap-align: start;
}

h1,
h2,
h3 {
  font-weight: normal;
  text-align: center;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  text-align: justify;
}

.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  min-height: 16rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.project-icon {
  width: 100%;
  font-size: 3rem;
  text-align: center;
}

.contacts-list {
  display: flex;
  gap: 1rem;
  text-align: center;
}

@media screen and (min-width: 425px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 24px;
  }
}
